.container {
    max-width: 1280;
    margin: 0 auto;
}

.text-ru {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 37px 99px 34px 496px;
}

.text-eng {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 34px 99px 54px 496px;
}

.title {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 63px 1048px 38px 98px;



}

.title-link {
    text-decoration: none;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    margin: 38px 99px 48px 98px;
    background-color: rgba(53, 68, 79, 1);
    list-style: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;



}

.header-menu-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 27px 40px 27px 40px;

}

.header-menu :hover {
    background: rgba(34, 47, 58, 1);

}

.main-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 399px;
    width: 344px;
    justify-content: space-around;
    margin: 48px 52px 10px 100px;
    padding-left: 44px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;

}

.main-menu :hover {
    background: rgba(219, 219, 219, 1);

}

.main-menu-item {
    text-decoration: none;
    color: rgba(73, 88, 99, 1);

}

.main-menu-item :hover {
    color: black;
}

.img {
    display: flex;
    border: 1px solid black;
    height: 529px;
    width: 885px;
    margin: 48px 99px 37px 52px;

}

.main-content {
    display: flex;

}

.footer-menu {
    display: flex;
    justify-content: space-between;
    
    height: 72px;
    margin: 38px 99px 48px 98px;
    background-color:rgba(99, 105, 110, 0.48);
    list-style: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    flex-wrap: wrap;
    align-items: center;

}

.footer-menu-item {
    text-decoration: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
    padding: 20px 40px 21px 40px;
    align-items: center;
   
}


